@import './variables.scss';

a {
    text-align: none;
}

.navbar {
    // flex-basis: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    background-color: white;
    width: 250px;

    // height: 100%;
    height: 100vh;
    position: fixed;
    // position: sticky;
    // bottom: 0px;
    top: 0;
    bottom: 0;
    box-shadow: -10px 0 15px rgba(0 , 0 , 0 , .1);
    z-index: 1;
    .nav-icon {
        color : $green-2;
        font-size: 2rem;
        padding: 20px;
        margin-bottom: 30px;
        text-align: center;
        height: fit-content;
    }
    .nav-link {

        align-self: start;
        color: $text-unactive;
        padding: 15px;
        padding-right: 45px;

        margin-bottom: 15px;
        width: max-content;
        height: fit-content;
        :hover {
            color: #b0c1c3;
        }
        span {
            margin-right: 10px;
        }
    }
    .active-link {
        align-self: start;
        background-color: #eceff4;
        color: #55efc4;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 0 15px;
        margin-bottom: 15px;
    }
}
 

