<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>متاسفانه مشکلی پیش آمده است</h2>
        <div class="explaination"> </div>
    </div>
</body>
</html>